* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: rgb(244, 244, 244);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bigBox {
  box-shadow: 0px 4px 4px 3px gray;
  border-radius: 10px;
  width: 70%;
  height: 700px;
  background-color: white;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 5%;
  padding-right: 5%;
}

.bigBox h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
}

label {
  font-size: 25px;
  font-weight: bold;
}

.upperBox {
  display: flex;
  justify-content: space-around;
  height: 45%;
  border-bottom: 2px solid gray;
}

input,
select {
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid gray;
  font-weight: 450;
  outline: none;
  cursor: pointer;
}

.range input {
  position: relative;
  top: -65px;
  width: 100%;
  font-size: 300px;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 35px;
  text-align: center;
}

.lowerBox {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: start;
}

.divider {
  width: 2px;
  height: 115px;
  background-color: gray;
}

p {
  font-size: 25px;
  font-weight: 650;
  margin-bottom: 20px;
}

.error {
  position: relative;
  text-align: start;
  top: -20px;
  margin-bottom: 50px;
  width: 100%;
  font-size: 15px;
  color: red;
  text-align: center;
}

@media (max-width: 576px) {
  body {
    width: 100%;
    justify-content: center;
  }

  .bigBox {
    height: fit-content;
    flex-direction: column;
    margin: 0;
    padding-bottom: 100px;
  }

  select,
  input {
    width: 100%;
  }

  label {
    font-size: 20px;
  }

  .upperBox {
    flex-direction: column;
  }

  .lowerBox {
    flex-direction: column;
  }

  .divider {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
    display: flex;
  }

  .bigBox {
    margin: 10%;
    height: fit-content;
    flex-direction: column;
    margin: 0;
    padding-bottom: 50px;
  }

  select,
  input {
    width: 100%;
  }

  .range {
    margin-top: 30px;
  }

  .upperBox {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  body {
    width: 100%;
    justify-content: center;
  }

  .bigBox {
    height: fit-content;
    flex-direction: column;
    margin: 0;
    padding-bottom: 50px;
  }

  select,
  input {
    width: 100%;
  }

  .upperBox {
    flex-direction: column;
  }

  .lowerBox {
    flex-direction: column;
  }

  .divider {
    display: none;
  }
}

@media (max-width: 1150px) {
  body {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .bigBox {
    height: fit-content;
    flex-direction: column;
    padding-bottom: 50px;
  }

  select,
  input {
    width: 100%;
  }

  .lowerBox {
    flex-direction: column;
  }

  .divider {
    display: none;
  }
}

@media (max-width: 1300px) {
  body {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .bigBox {
    height: fit-content;
    flex-direction: column;
    padding-bottom: 50px;
  }

  select,
  input {
    width: 100%;
  }

  .upperBox {
    flex-direction: column;
  }
}
